

#topo{

min-height: 100px;
background-color: #F60C89;
color: #fff;

}



#conteudo{

   min-height: 450px;
}

#lateral{

   border-right: 1px solid #adadad;
   height: 100%;
  }

  .transparente{
   opacity: 0.9;

  }


/* CLASSES OVERRIDE DO BOOTSTRAP para personalização*/

/* navbar e menu navbar */
.navbar-inverse{
    border-radius: 0;

}


.navbar-inverse .navbar-nav > li > a{

  color: #fff;
  font-size: 16px;

}
.navbar-inverse .navbar-nav > li > a:hover{

 background-color: #000;
 border-radius: 10px;
 color: #eb9316;

}

/* menu lateral com list group*/

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{

   background-color: #101010;

}

a.list-group-item:hover{

    background-color: #262626;;
     color: #FFF;


}

a.list-group-item{

    border: 0;
    font-size: 16px;


}


/*footer*/

#rodape{

 min-height: 150px;
 background-color: #F60C89;
color: #fff;


}

footer 
{
    padding: 30px 0;
    text-align: center;
}

footer p

{
    color: #FFFFFF;
    font-size: 15px;
}

footer p:hover
{
    color: #B5B5B5;
    height: auto;
    text-decoration: underline;
    text-decoration-color: #8B0000;
}
footer ul{
    display:inline-flex;
    list-style-type:none;
    padding: 0;
    
}



