#minhacontaflutua{
    margin: 0; 
    font-size: 23px /*smaller*/;
    font-weight: bold;
    line-height: 1.1;
    position: fixed;
    top: 0.5em;
    left: auto;
    width: 0.5em;
    right: 1em;
    color: #000; 
    cursor: pointer;

}
#minhacontaflutua img{
    border-radius: 50%;

}
#bloco_login_adm{
    background-color: #fff;
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
}
#section_login_adm{
    margin: 0 auto;

}


#topo{

min-height: 100px;
background-color: #FFF;
color: #fff;

}

#logotipo h1{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    font-weight: 800;
    padding-left: 20px;
    
}
#logotipo h1 a{
    color: #FFF;
}
.botaoroxo{
    background-color: #9F40CB;
    border-color: #9F40CB;
    
}
.botaoroxo:hover{
    background-color: #1D1D1D;
}

.tamanho-roupas{
    margin: 15px;
    
}
.linkvisualizado:visited{
    color: #f00;
}



@media only screen and (max-width: 990px) {
    #logotipo {
        margin-top: 30px;
        margin-bottom: 30px;

    }
    .hiddenonmobile{
        display: none;
    }
    #navhorizontal{
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        background-color: ghostwhite;
        border-radius: 4px;
        
    }
    a.list-group-item{

        color: #FFF;

    }
/*
    #navhorizontal li{
        text-align: center;
        
    }
*/
    

}
@media only screen and (min-width: 760px){
    .hiddenonexpand{
        display: none;
    }
}

#navhorizontal{
    padding-left: 15px;
    
}

.navbar-header, .navbar-inverse{
    background-color: #9F40CB;
    border-color: #9F40CB;
}


#navhorizontal li{
    float: left;
    
}



.espacamento{
    margin-left: 25px;
}

.row {
    margin-right: 0px !important;
}
.container-fluid {
    padding-right: 0px;
}


#conteudo{

   min-height: 450px;
}

#lateral{

   border-right: 1px solid #adadad;
   height: 100%;
  }

  .transparente{
   opacity: 0.9;

  }


/* CLASSES OVERRIDE DO BOOTSTRAP para personalização*/

/* navbar e menu navbar */
.navbar-inverse{
    border-radius: 0;

}
.thumbnail{
    box-shadow: 1.5px 1.5px 2.5px #adadad;
}


.navbar-inverse .navbar-nav > li > a{

  color: #FFF;
  font-size: 16px;

}
.navbar-inverse .navbar-nav > li > a:hover{

 background-color: #1D1D1D;
 border-radius: 10px;
 color: #fff;

}

/* menu lateral com list group*/

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{

    background-color: #9F40CB;
    border-color: #9F40CB;
    color: #fff;

}

a.list-group-item:hover{

    background-color: #9F40CB;
    color: #555;


}

a.list-group-item{

    border: 0;
    font-size: 16px;
    

}

.itenscategoria{
    background-color: #9F40CB;
    
}


section#fazerlogin{
    padding-top: 20px;
    min-height: 400px;
}

section.minhaconta{
    padding-top: 20px;
    min-height: 300px;
}

#menuadm div a, #minhaconta div a{
    margin-bottom: 5px;
}
.thumbnail{
    box-shadow: none;
    border-radius: 0;
}

/*footer*/

#rodape{

 min-height: 150px;
 background-color: #1D1D1D;
color: #fff;


}

footer 
{
    padding: 30px 0;
    text-align: center;
}

footer p

{
    color: #CCC;
    font-size: 15px;
}

footer p:hover
{
    color: #1D1D1D;
    height: auto;
    text-decoration: underline;
    text-decoration-color: #8B0000;
}
footer ul{
    display:inline-flex;
    list-style-type:none;
    padding: 0;
    
}
footer a{
    color: #000;
}



